!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StudyPockets
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      .title
        = link_to 'StudyPockets',root_path
      .btn
        - if user_signed_in?
          .btn__logout
            = link_to 'ログアウト',destroy_user_session_path
          .btn__post
            = link_to '投稿',new_study_path
        - else
          .btn__sign-up
            = link_to '新規登録',new_user_registration_path
          .btn__sign-in
            = link_to 'ログイン',new_user_session_path
    = yield
    %footer
      footer
